@import url(./assets/fonts/static/Inter-SemiBold.ttf);
@import url(./assets/fonts/static/Inter-Regular.ttf);
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Inter';
  font-style: normal;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
main {
  width: 1440px;
  margin: 0 auto;
}
.inner {
  width: 1276px;
  position: relative;
  margin-left: 24px;
}
.left_box {
  width: 978px;
  height: 737px;
  border-radius: 0px 0px 35px 35px;
  background: linear-gradient(290deg, #d6e6fe 0%, rgba(214, 252, 254, 0) 100%);
}
.left_inner {
  margin-left: 116px;
  padding-top: 75px;
}
.left_inner img {
  margin-bottom: 127px;
}
.left_inner .tit_box {
  display: flex;
  width: 469px;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
}
.left_inner .tit_box h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -3.2px;
  color: #253347;
}
.left_inner .tit_box p {
  color: #5e6e85;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.right_box {
  width: 564px;
  position: absolute;
  top: 166px;
  right: 0;
  border-radius: 16px;
  background: #fff;
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
}
.right_box .right_inner {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.right_box .right_inner h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
}
.right_box .right_inner .check_box {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.right_box .right_inner .check_box label {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #253347;
  width: 238px;
}
.right_box .right_inner .check_box label input[type="radio"] {
  width: 31px;
  height: 31px;
  margin-right: 18px;
  border: 1px solid #d8e2e7;
}
.right_box .right_inner .below_box:nth-child(1) {
  background-color: #253347;
}
.right_box .right_inner .below_box .below_inner {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.right_box .right_inner .mb-24 {
  margin-bottom: 24px;
}
.right_box .right_inner .below_box .infor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}
.right_box .right_inner .below_box .infor h3 {
  color: #5e6e85;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.right_box .right_inner .below_box .infor .input_flex {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.right_box .right_inner .below_box .infor .below_input {
  padding: 20px 24px;
  border-radius: 12px;
  border: 1px solid #d8e2e7;
  display: flex;
  align-items: center;
}
/* .right_box .right_inner .below_box .infor .below_input:hover {
  border: 1px solid #345ff6;
} */
.right_box .right_inner .below_box .infor .below_input > span {
  color: #345ff6;
  font-size: 24px;
  font-weight: 600;
}
.right_box .right_inner .below_box .infor .infor_input {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  align-self: stretch;
  background: #fff;
  font-size: 24px;
  font-weight: 600;
  color: #253347;
  border: none;
  outline: none;
}

.right_box .right_inner .bmi_box {
  display: flex;
  flex-direction: column;
  padding: 32px;
  justify-content: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 30px 250px 250px 30px;
  background: linear-gradient(90deg, #345ff6 0%, #587dff 100%);
}
.right_box .right_inner .bmi_box.active {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.right_box .right_inner .bmi_box .bmi_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.right_box .right_inner .bmi_box .bmi_txt p:first-child {
  align-self: stretch;
  color: #fff;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
}
.right_box .right_inner .bmi_box.active .bmi_txt p:first-child {
  font-size: 16px;
}
.right_box .right_inner .bmi_box .bmi_txt > div {
  color: #fff;
  font-family: "Inter";
  font-size: 64px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -3px;
}
.right_box .right_inner .bmi_box.active .bmi_tit {
  width: 206px;
}
.right_box .right_inner .bmi_box .bmi_tit p {
  flex: 1 0 0;
  color: #fff;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 150%;
}
.right_box .right_inner .bmi_box .bmi_tit p > span {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.second_inner {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  margin-top: 35px;
}
.second_inner .left_wrap > img {
  width: 564px;
}
.second_inner .right_wrap > img {
  position: relative;
  left: 340px;
  bottom: 22px;
}
.second_inner .right_wrap .right_txt {
  width: 465px;
}
.second_inner .right_wrap .right_txt h2 {
  font-size: 48px;
  font-weight: 600;
  color: #253347;
  margin-bottom: 35px;
  letter-spacing: -2px;
}
.second_inner .right_wrap .right_txt p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #5e6e85;
}
.third_inner {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-radius: 35px;
  background: linear-gradient(290deg, #D6E6FE 0%, rgba(214, 242, 254, 0.45) 0, rgba(214, 252, 254, 0.00) 100%);
  margin-top: 96px;
  margin-bottom: 120px;
  padding: 72px 116px;
}
.third_inner .infor_box {
  width: 365px;
}
.third_inner .infor_box h2 {
  font-size: 24px;
  font-weight: 600;
  color: #253347;
  letter-spacing: -1px;
  margin: 45px 0 24px 0;
}
.third_inner .infor_box p {
  width: 365px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #5e6e85;
}
.fourth_wrap {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}
.fourth_wrap .limitation_box {
  width: 564px;
  float: left;
  position: absolute;
}
.fourth_wrap .limitation_box h2 {
  font-size: 48px;
  font-weight: 600;
  color: #253347;
  letter-spacing: -2px;
  margin-bottom: 35px;
}
.fourth_wrap .limitation_box p {
  color: #5e6e85;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.fourth_wrap .grid_box {
  display: grid;
  justify-content: end;
  position: absolute;
  right: 0;
  width: 961px;
}
.fourth_wrap .grid_box .sec {
  position: relative;
  width: 365px;
  border-radius: 16px;
  background:#FFF;
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
  vertical-align: middle;
  margin-bottom: 32px;
}
.fourth_wrap .grid_box .sec:nth-child(1) {
  grid-column: 2 / 2;
  right: 99px;
}
.fourth_wrap .grid_box .sec:nth-child(2) {
  right: 32px;
}
.fourth_wrap .grid_box .sec:nth-child(4) {
  right: 231px;
}
.fourth_wrap .grid_box .sec:nth-child(5) {
  right: 199px;
}
.fourth_wrap .grid_box .sec .sec_inner {
  padding: 32px;
}
.fourth_wrap .grid_box .sec .sec_title {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}
.fourth_wrap .grid_box .sec .sec_title > span {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #253347;
}
.fourth_wrap .grid_box .sec p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #5e6e85;
}
@media (max-width:768px){
  section {
    width: 100%;
  }
  section:nth-child(2) {
    position: relative;
    right: 43px;
  }
  main {
    width: auto;
  }
  .inner {
    width: 100%;
    margin: 0;
  }
  .inner .left_box {
    width: 100%;
    height: 640px;
  }
  .inner .left_box .left_inner {
    padding: 32px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .inner .left_box .left_inner img {
    width: 64px;
    margin-bottom: 40px;
  }
  .inner .left_box .left_inner .tit_box {
    width: 686px;
    text-align: center;
  }
  .inner .right_box {
    position: initial;
    margin: 0 auto;
    width: 686px;
  }
  .inner .right_box .check_box > label {
    width: 299px;
  }
  .second_inner {
    width: 768px;
    margin-top: 277px;
  }
  .second_inner .left_wrap img {
    width: 360px;
    height: 100%;
  }
  .second_inner .right_wrap img {
    display: none;
  }
  .second_inner .right_wrap .right_txt {
    width: 331px;
    margin-bottom: 32px;
  }
  .second_inner .right_wrap .right_txt h2 {
    margin: 35px 0;
  }
  .third_inner {
    flex-direction: column;
    gap: 40px;
    border-radius: 0;
    padding: 60px 40px;
  }
  .third_inner .infor_box {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 686px;
  }
  .third_inner .infor_box h2 {
    margin: 0;
    margin-bottom: 24px;
  }
  .third_inner .infor_box p {
    width: auto;
  }
  .fourth_wrap {
    display: flex;
    flex-direction: column;
    width: 686px;
  }
  .fourth_wrap .limitation_box {
    position: initial;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 56px;
  }
  .fourth_wrap .grid_box {
    position: initial;
    width: 686px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .fourth_wrap .grid_box .sec {
    position: initial;
    width: 335px;
  }
  .fourth_wrap .grid_box .sec:nth-child(5) {
    margin: 0 auto 95px;
  }
} 
@media (max-width:375px) {
  
}