@import url(./assets/fonts/static/Inter-SemiBold.ttf);
@import url(./assets/fonts/static/Inter-Regular.ttf);
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.inner {
  width: 1276px;
  position: relative;
  margin-left: 24px;
}
.left_box {
  width: 978px;
  height: 737px;
  border-radius: 0px 0px 35px 35px;
  background: linear-gradient(290deg, #d6e6fe 0%, rgba(214, 252, 254, 0) 100%);
}
.left_inner {
  padding: 75px 116px;
}
.left_inner img {
  margin-bottom: 127px;
}
.left_inner .tit_box {
  display: flex;
  width: 564px;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
}
.left_inner .tit_box h1 {
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -3.2px;
  color: #253347;
}
.left_inner .tit_box p {
  color: #5e6e85;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.right_box {
  width: 564px;
  position: absolute;
  top: 166px;
  right: 0;
  border-radius: 16px;
  background: #fff;
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
}
.right_box .right_inner {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.right_box .right_inner h2 {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
}
.right_box .right_inner .check_box {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.right_box .right_inner .check_box .bmi_check {
  display: flex;
  align-items: center;
  gap: 18px;
  flex: 1 0 0;
  color: #253347;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.right_box .right_inner .below_box {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.right_box .right_inner .below_box .infor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}
.right_box .right_inner .below_box .infor h3 {
  color: #5e6e85;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.right_box .right_inner .below_box .infor .infor_input {
  display: flex;
  padding: 20px 24px;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid #d8e2e7;
  background: #fff;
}
.right_box .right_inner .bmi_box {
  display: flex;
  padding: 32px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  border-radius: 30px 250px 250px 30px;
  background: linear-gradient(90deg, #345ff6 0%, #587dff 100%);
}
.right_box .right_inner .bmi_box .bmi_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}
.right_box .right_inner .bmi_box .bmi_txt p:first-child {
  align-self: stretch;
  color: #fff;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.right_box .right_inner .bmi_box .bmi_txt p:last-child {
  color: #fff;
  font-family: "Inter";
  font-size: 64px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -3px;
}
.right_box .right_inner .bmi_box .bmi_tit {
  width: 206px;
}
.right_box .right_inner .bmi_box .bmi_tit p {
  flex: 1 0 0;
  color: #fff;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 150%;
}
.right_box .right_inner .bmi_box .bmi_tit p > span {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
